<<<<<<< HEAD
.common {
	margin: 0;
	padding: 0;
	background: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
=======
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> 477c13d2a0d71e742c8df2d84d48bf9fa1cf3159
