<<<<<<< HEAD
.header {
	height: 70px;
	width: 100%;
	background: white;
	border-bottom:1px solid #CCCCCC;
	background-image: url('../image/logo.png');
	background-repeat: no-repeat;
	background-position: 20px center;
}
=======
header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 140px;
    height: 50px;
    background: url('../images/logo.png') no-repeat center;
    padding-left: 20px;
  }
>>>>>>> 477c13d2a0d71e742c8df2d84d48bf9fa1cf3159
