.header {
	height: 70px;
	width: 100%;
	background: white;
	border-bottom:1px solid #CCCCCC;
	background-image: url('../image/logo.png');
	background-repeat: no-repeat;
	background-position: 20px center;
}
